<% @teams.each do |team| %>
  <%= link_to team_path(team) do %>
    <div class="col-sm-4 team-block">
      <h3><%= team.name %></h3>
      <img src="<%= team.logo %>"/>
    </div>
  <% end %>
<% end %>