<div class="player-goals">
  <h3>Top goal-scoring players</h3>
    <div id="d3-heading">
      <span><img id="player" src=""/><u><p id="player-p">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</p></u></span>
    </div>
    <div><script type="text/javascript" src="/assets/d3/player_goals.js"></script></div>
</div>