<div class="team-goals">
  <h3>Goals scored by team</h3>
    <div id="d3-heading">
      <span><img id="team" src=""/><u><p class="team">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</p></u></span>
    </div>
    <div><script type="text/javascript" src="/assets/d3/team_goals.js"></script></div>
</div>