<h1>2014 World Cup Matches *</h1>
<h5 class="asterisk">*The winner of each game is denoted in <span style="color: #00296d">blue</span>.</h5>
<div class="col-md-12">
<%= render partial: "matches" %>
</div>