/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */
@import "bootstrap";
@import "semantic-ui";
/* Some Style from the Bootstrap Default Theme */

body {
  font-family: "Ubuntu", sans-serif;
  padding-top: 70px;
  padding-bottom: 30px;
  background-color: #27ae60;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.main-content {
  color: #f8f8f8;
  padding-left: 50px;
}

.main-content a {
  color: #f1c40f;
}

.main-content a:hover {
  color: #fed109;
}

.main-content p {
  font-size: 30px;
}

.team-block:hover {
  opacity: 0.7;
}


.team-block img {
  height: 80px;
}

.vs {
  // text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

#match {
  height: 400px;
  min-width: 450px;
}

.midnight h3 {
  color: #00296d;
}

.midnight h3 a {
  color: #f1c40f;
}

.midnight h3 a:hover {
  color: #fed109;
}

#wc-logo {
  height: 300px
}


.footer {
  background-color: #f8f8f8;
}

.footer p {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
}

.footer a {
  color: #2980b9;
}

.index-match {
  padding-bottom: 100px;
}

.right p {
  float: right;
}

.right img {
  float: right;
}

.left p {
  float: left;
}

.left img {
  float: left;
}

.winner {
  font-weight: bold;
  color: #00296d;
}

.winner:hover {
  color: #2980b9;
}

.loser {
  opacity: 0.3;
}

.asterisk p {
  font-size: 10px;
}

.team p {
  font-size: 18px;
}

table {
  color: black;
  float: left;
}

.table a {
  color: #00296d;
}

.table a {
  color: #2980b9;
}

table#groups {
  // max-width: 10%;
  min-width: 75px;
  margin-bottom: 30px;
}

.extra-pad {
  padding-bottom: 50px;
}