<div class="col-md-12 footer" id="footer">
  <!-- <p id="footer-text"><i class="laptop icon"></i> by <%= link_to "@ckohlbrenner", "http://twitter.com/CKohlbrenner" %> for the <i class="globe icon"></i><i class="trophy icon"></i>, because he couldn't <i class="plane icon"></i> to <i class="sun icon"></i>.</p> -->
  <p>Built by <%= link_to "@ckohlbrenner", "http://twitter.com/CKohlbrenner" %> for the World Cup, only because he couldn't make it there in person.</p>
</div>