<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><i class="trophy icon"></i>WorldCupApp</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/teams"><i class="checkered flag icon"></i> Teams</a></li>
        <li><a href="/matches"><i class="calendar icon"></i> Matches</a></li>
        <li><a href="/groups"><i class="users icon"></i> Groups</a></li>
        <li><a href="/players"><i class="male icon"></i> Players</a></li>
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li> -->
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <%= text_field_tag :team, nil, placeholder: "Search", class: "typeahead form-control" %>
          </div>
          <!-- </div> -->
        </form>
      </ul>
    </div>
  </div>
</nav>